body{
    padding:0px 0px;
    margin: 0px 0px;
    background-color:black;
    justify-content: center;
}
/* HEADER */
header{
    width:100%;
    height: fit-content;
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top:0px;
    background-color: black;
}
header nav{
    margin-right: 5%;
}
header ul{
    list-style-type: none;
    display: flex;
}
header li{
    margin-right: 30px;
}
header a{
    text-decoration: none;
    font-size: x-large;
    color:white;
    font-weight: bolder;
}
header h1{
    color:white;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 5%;
}
header a:hover{
    color:aqua;
}
#cart-count{
    background-color: white;
    color: black;
    font-size:x-large;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid white;
}
#opencart:hover #cart-count{
    background-color: black;
    color: aqua;
    border: 1px solid aqua;
}
#cart-count:hover #opencart{
    color: aqua;
}
#cart-count:hover{
    background-color: black;
    color: aqua;
    border: 1px solid aqua;
}
.cartdiv{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 35%;
    height: 100vh;
    padding: 1% 2%;
    background-color: black;
    transition: 0.3s;
    display: none;
}
.cart-content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.cartmainimg{
    width: 100%;
    height: auto;
}
.cart-box {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    gap: 2%;
    margin-top: 2%;
    padding: 5px 0;
    border-bottom: 1px solid gray;
    justify-content: left;
}

.detail-box{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1%;
}
.product-detail{
    font-size:large;
    font-weight: bold;
    color: white;
}

.product-image{
    height: 50px;
    width: 60px;
    object-fit: contain;
}
.product-price{
    font-size: large;
    font-weight: bolder;
    color: white;
}
.product-quantity{
    width: 12%;
    padding: 1% 1%;
    color: white;
    border: 1px solid white;
    background-color: black;
    text-align: center;
}
.cart-remove{
    font-size: x-large;
    color: white;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    padding: 2% 2%;
    gap:3%;
    font-size: x-large;
    border-top: 2px solid white;
    font-weight:bolder;
    color: white;
}
.btn-buy{
    display: flex;
    margin: 2% auto 7% auto;
    width: 50%;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: bold;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.btn-buy:hover{
    color: white;
    background-color:black;
    border: 1px solid white;
}
#close-cart{
    position: absolute;
    top:1%;
    right: 1%;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}
#close-cart:hover{
    color: aqua;
}
/* HERO SECTION */
.hero img{
    height: 100vh;
    width: calc(100%);
}
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    height: max-content;
    padding: 2% 2%;
    flex-wrap: wrap;
    margin: auto;
}
.brand-btn{
    width:150px;
    height:40px;
    margin-top: 2%;
    margin-right: 2%;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 50px;
    font-size: large;
    font-weight: bolder;
}
.brand-btn:hover{
    color:lightblue;
    border: 2px solid lightblue;
}
.brand-btn.active{
    color: aqua;
    border: 2px solid aqua;
}
/* OUR PRODUCTS HEADING */
#ourp{
    margin-top: 150px;
    margin-bottom: 2%;
    color: darkturquoise;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
}
/* PRODUCTS */
#products{
    text-align: center;
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.allproducts{
    width:28%;
    border: 2px solid #cce;
    background:white;
    box-shadow: 5px 5px 20px #cce;
    border-radius: 50px;
    margin: 3% 2%;
}
.allproducts:hover{
    box-shadow: 10px 10px 20px #cce;
}
.allproducts img{
    width: 95%;
    padding: 2% 1%;
    border-radius: 50px;
}
.product-spec{
    list-style:square;
    display:flexbox;
    align-items: center;
    text-align: left;
    color: #243b55;
}
.allproducts h4,h5{
    background-image:linear-gradient(to right, #141e30, #243b55);
    background-clip: text;
    color: transparent;
}
.allproducts h2,h3{
    background-image: linear-gradient(to right, #000000, #434343);
    background-clip: text;
    color: transparent;
}
.allproducts h3{
    font-weight: bolder;
}
.allproducts h5{
    margin: 0px;
    padding: 0px;
}
.allproducts button{
    background-image:linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    width: 80%;
    height: 50px;
    padding:0px 0px;
    display:inline-flex;
    justify-content:center;
    align-items: center;
}
.allproducts button h3{
    color:white;
}
.allproducts button:hover{
    background-image:linear-gradient(to left, #434343 0%, black 100%);
}
/* ABOUT US AND CONTACT US */
#info{
    background-image: url(https://i.ibb.co/Q7qXnsK6/image.png);
    background-size:cover;
    background-attachment:scroll;
}
#about{
    text-align: center;
    display :block;
    padding-top: 10%;
    width: 100%;
}
#about h1{
    padding: 3%;
    text-decoration: underline;
    color:black;
}
#about h2{
    padding: 3%;
    color: #333333;
    font-weight: bolder;
}
#contact{
    padding-top: 7%;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 100%;
}
#contact h1{
    padding: 3%;
    text-decoration: underline;
    color:black;
    justify-self: center;
    align-self: center;
}
#contact img{
    height: 50px;
    width: 50px;
    left: 0px;
    right: 0px;
    margin: 0px auto 0px auto;
}
#contact h2{
    padding: 2% 0px;
    color: #333333;
    font-weight: bolder;
    justify-self: center;
    align-self: center;
}
/* FOOTER */
#footer{
    background-color: black;
    color: white;
    font-size: medium;
    width:calc(100%);
    height:50px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 2%;
}
@media only screen and (max-width:1000px){
    .hero img{
        height: auto;
        width: calc(100%);
    }
    .allproducts{
        width: 43%;
        margin-top: 10%;
    }
    #products{
        justify-content: center;
    }
    .allproducts{
        margin-bottom: 10%;
    }
    #header{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .cartdiv{
        width: 70%;
    }
    header h1{
        color:white;
        font-weight: bolder;
        font-size: xx-large;
        margin-left: 1%;
    }
    header li{
        margin-right: 20px;
    }
    header nav{
        margin-right: 1%;
    }
    .cartdiv{
        width: 100%;
    }
    .cart-content{
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px auto 0px auto;
    }
    #close-cart{
        top:2%;
        right: 4%;
        font-size:50px;
    }
    .total{
        font-size: 50px;
    }
    .btn-buy{
        height: 80px;
        font-size: xx-large;
    }
    .product-image{
        height: 100px;
        width: 120px;
        object-fit: contain;
    }
    .product-detail,.product-price,.product-quantity{
        font-size: x-large;
    }
    .cart-remove{
        font-size: xx-large;
    }
}



